<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Jiu Jitsu Submission Tracker</title>
</head>
<body>
<h1>History</h1>

<nav>
  <a href="/dashboard/">Dashboard</a> 
  <a href="/history/">History</a>
  <a href="/stats/">Stats</a>
  <a href="/profile/">About</a>
  <button (click)="logout()">Log Out</button>
</nav>

<div class="card">
  <div class="card-header">
    <h3>All Submissions</h3>
    <div class="search-container">
    <input class="search-bar"  placeholder="Search..."[(ngModel)] = "searchTerm" (input)="loadSubmissions()">
    </div>
  </div>



  

  <div class="table-container">
    <table>
      <tr>
        <th>Submission</th>
        <th>Training Partner</th>
        <th>Position</th>
        <th>Result</th>
        <th>Action</th>
      </tr>

      <!-- Input row -->
      <tr>
        <td><input class="table-input" [(ngModel)]="newEntry.submission" placeholder="Submission"></td>
        <td><input class="table-input" [(ngModel)]="newEntry.trainingPartner" placeholder="Partner"></td>
        <td><input class="table-input" [(ngModel)]="newEntry.position" placeholder="Position"></td>

        <td><select [(ngModel)]="newEntry.result" placeholder="Result">
            <option>Success</option>
            <option>Failed</option>
          </select></td> 
        <td><button (click)="addNewEntry()">Add</button>
        @if (errorMessage) {
        <div class="error">
        {{ errorMessage }}
        </div>
        }
        </td>
      </tr>

      <!-- Data rows -->
      <tr *ngFor="let s of submissions">
        <ng-container *ngIf="editingId === s.id; else viewMode">
          <td><input [(ngModel)]="s.submission"></td>
          <td><input [(ngModel)]="s.trainingPartner"></td>
          <td><input [(ngModel)]="s.position"></td>
          <td><select [(ngModel)]="s.result">
            <option>Success</option>
            <option>Failed</option>
          </select></td>
          <td>
            <button (click)="saveEntry(s)">Save</button>
            <button (click)="cancelEdit(s)">Cancel</button>
          </td>
        </ng-container>

        <ng-template #viewMode>
          <td>{{ s.submission }}</td>
          <td>{{ s.trainingPartner }}</td>
          <td>{{ s.position }}</td>
          <td>{{ s.result }}</td>
          <td>
            <button (click)="editRow(s)">Edit</button>
            <button (click)="deleteEntry(s.id!)">Delete</button>
          </td>
        </ng-template>
      </tr>
    </table>
  </div>

</div>
</body>