.textFieldContainer{
  display: flex;
  flex-direction: column;
  width: 150px;
 input {
  margin-bottom: 15px;
}

}

.header {
  display: flex;
  justify-content: center;   
}

.page
{
  display: flex;
  justify-content: center;  
  align-items: center;       
  height: 100vh;             
  
}

.button
 {
  display: inline-block;
  padding: 10px 20px;
  background: black;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 6px;
}


nav {
 background: var(--bright-blue);
  color: white;
  text-align: left;
  font-weight: 600;
  padding: 0.75rem 1rem;
  text-transform: uppercase;
  letter-spacing: 0.03rem;
}
a{
     background: var(--bright-blue);
 
  text-align: left;
  color: #f0f0ff;
  font-weight: 600;
  padding: 0.75rem 1rem;
  text-transform: uppercase;
  letter-spacing: 0.03rem;
  background-color: #7e7a7a;
}
